PORT=3000
NODE_ENV=development

OTAKUDESU_URL=https://otakudesu.cloud
SAMEHADAKU_URL=https://v2.samehadaku.how

CACHE_TTL_HOME=600
CACHE_TTL_LIST=1800
CACHE_TTL_DETAIL=3600
CACHE_TTL_EPISODE=86400

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=60

REQUEST_TIMEOUT_MS=15000
